# Day 1  : Basics of Python

#### Variable and Data types 
###### Variable are used to store the data,

In [5]:
x =10 # int 
name ='Zeeshan' # string 

print(x,name)

10 Zeeshan

## Controll flow

#### if Else Statment

In [7]:
if x>10:
    print('X is greater than 10 ')
else:
    print('x is less than 10 ')

x is less than 10

### For Loop

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

### while loop

In [11]:
count = 0 
while count < 5 :
    print(count)
    count+=1

0
1
2
3
4

### python Functon

In [15]:
def greating(name):
    return f"Hello ,{name} "

In [16]:
print(greating('Zeeshan'))

Hello ,Zeeshan

### Data Structure

In [17]:
## Lists 
fruit=['apple','Banana','cherry']

In [18]:
# Dictionaries 
Student = {'name':'Zeeshan','Age':22,'Position':'Data Science'}

In [19]:
## Tuples
point=(3,2)

In [20]:
# Set 
unique_No={1,2,3}

In [22]:
print(fruit)## list
print(Student) # dictionary 
print(point) # Tuple
print(unique_No)# Set

['apple', 'Banana', 'cherry']
{'name': 'Zeeshan', 'Age': 22, 'Position': 'Data Science'}
(3, 2)
{1, 2, 3}

## Practical implementation of the above code 
### Lets Make a Simple Calculator 
##### Which perform the Basic Arithmatic Operation (+,-,*,/)

In [31]:
def calculator():
    try:
        # Input
        num1 = float(input('Enter First Number: '))
        num2 = float(input('Enter Second Number: '))
        operation = input('Enter Operation (+, -, *, /): ')

        # Calculation
        if operation == '+':
            result = num1 + num2
        elif operation == '-':
            result = num1 - num2
        elif operation == '*':
            result = num1 * num2
        elif operation == '/':
            if num2 != 0:
                result = num1 / num2
            else:
                return 'Error: Division by zero is not allowed.'
        else:
            return 'Invalid operation'

        return result
    except ValueError:
        return 'Invalid input. Please enter numeric values for the numbers.'

# Example usage
print(calculator())

Enter First Number:  234
Enter Second Number:  2
Enter Operation (+, -, *, /):  /

117.0

## Task 2 Student Grading System

In [32]:
def grading_system():
    students = {}
    while True:
        name = input("Enter student name (or 'done' to finish): ")
        if name.lower() == 'done':
            break
        grade = float(input(f"Enter grade for {name}: "))
        students[name] = grade

    if students:
        avg_grade = sum(students.values()) / len(students)
        highest_grade = max(students.values())
        lowest_grade = min(students.values())

        print(f"Average grade: {avg_grade}")
        print(f"Highest grade: {highest_grade}")
        print(f"Lowest grade: {lowest_grade}")
    else:
        print("No student data available.")

grading_system()

Enter student name (or 'done' to finish):  zeeshan
Enter grade for zeeshan:  89
Enter student name (or 'done' to finish):  maryam
Enter grade for maryam:  80
Enter student name (or 'done' to finish):  done

Average grade: 84.5
Highest grade: 89.0
Lowest grade: 80.0

3. Case Study/Project Task (30 minutes)
Case Study: Sales Data Processing

Create a Python script to process a list of sales transactions.
Calculate total sales, average sales, and the highest sale.
Use lists and loops for the task.

In [33]:
def Sales_data():
    sales=[69.8,54.8,89,50,100,89]
    total_sales=sum(sales)
    Avg_sales=total_sales/len(sales)
    Heighst_sales=max(sales)


    print(f'The total Sales is {total_sales}')
    print(f'the Average Sales is {Avg_sales}')
    print(f'The Heighst Sales is {Heighst_sales}')

In [34]:
Sales_data()

The total Sales is 452.6
the Average Sales is 75.43333333333334
The Heighst Sales is 100