### Data Cleanig And Preprocessing

### Example Handling Missing Values And Encoding Categoricall Variabales

In [2]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import  OneHotEncoder,LabelEncoder
from sklearn.impute import SimpleImputer

In [5]:
# Sample DataFrame With Missing value and categorical data 

data = {
    'Name' : ['Zeeshan','Khan','Ayesha','Maryam','Khattak'],
    'Age' :[22,np.nan,20,22,21],
    'City':['New York','Germany','Turkey',np.nan,'Pakistan'],
    'Salary':[70000,80000,12000,np.nan,60000]
}

df=pd.DataFrame(data)

print('Orignal DataFrame')
print(df)

Orignal DataFrame
      Name   Age      City   Salary
0  Zeeshan  22.0  New York  70000.0
1     Khan   NaN   Germany  80000.0
2   Ayesha  20.0    Turkey  12000.0
3   Maryam  22.0       NaN      NaN
4  Khattak  21.0  Pakistan  60000.0

In [7]:
#Handling Missing Value 
# impute Missing Age with the Mean Age 
imputer_age =SimpleImputer(strategy='mean')
df['Age']=imputer_age.fit_transform(df[['Age']])

In [8]:
# Impute Missing Salary With the Median Salary 
imputer_salary=SimpleImputer(strategy='median')
df['Salary']=imputer_salary.fit_transform(df[['Salary']])

In [14]:
# Impute missing City with the mode
imputer_city = SimpleImputer(strategy='most_frequent')
df['City'] = imputer_city.fit_transform(df[['City']]).ravel()

In [20]:
print('\nData Frame After Handling Missing Values')

print(df)

Data Frame After Handling Missing Values
      Name    Age      City   Salary
0  Zeeshan  22.00  New York  70000.0
1     Khan  21.25   Germany  80000.0
2   Ayesha  20.00    Turkey  12000.0
3   Maryam  22.00   Germany  65000.0
4  Khattak  21.00  Pakistan  60000.0

In [23]:
## Encoding Categoricall Variabale 

## One Hot Encoding for 'City'
df = pd.get_dummies(df,columns=['City'],drop_first=True)

In [25]:
print('\nDataFrame After One Hot-Hot Encoding:')
print(df)

DataFrame After One Hot-Hot Encoding:
      Name    Age   Salary  City_New York  City_Pakistan  City_Turkey
0  Zeeshan  22.00  70000.0           True          False        False
1     Khan  21.25  80000.0          False          False        False
2   Ayesha  20.00  12000.0          False          False         True
3   Maryam  22.00  65000.0          False          False        False
4  Khattak  21.00  60000.0          False           True        False

In [26]:
# Label Encoding for 'Name' (if necessary)
label_encoder = LabelEncoder()
df['Name_encoded'] = label_encoder.fit_transform(df['Name'])

print("\nDataFrame after Label Encoding 'Name':")
print(df)

DataFrame after Label Encoding 'Name':
      Name    Age   Salary  City_New York  City_Pakistan  City_Turkey  \
0  Zeeshan  22.00  70000.0           True          False        False
1     Khan  21.25  80000.0          False          False        False
2   Ayesha  20.00  12000.0          False          False         True
3   Maryam  22.00  65000.0          False          False        False
4  Khattak  21.00  60000.0          False           True        False

   Name_encoded
0             4
1             1
2             0
3             3
4             2

Output Explanation:
Original DataFrame:

Contains missing values (NaN) in Age, City, and Salary columns.
Handling Missing Values:

Age: Missing values are imputed with the mean age.
Salary: Missing values are imputed with the median salary.
City: Missing values are imputed with the mode (most frequent city).
Encoding Categorical Variables:

One-Hot Encoding: Converts the City categorical column into binary columns for each category (excluding the first to avoid multicollinearity).
Label Encoding: Assigns a unique integer to each category in the Name column.